name: g-etl

services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile.web
    ports:
      - "8000:8000"
    volumes:
      - ../data:/app/data
      - ../config:/app/config
      - ../sql:/app/sql
    env_file:
      - ../.env
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 4G

  admin:
    build:
      context: ..
      dockerfile: docker/Dockerfile.admin
    volumes:
      - ../data:/app/data
      - ../config:/app/config
      - ../sql:/app/sql
    env_file:
      - ../.env
    tty: true
    stdin_open: true
