datasets:
  - id: naturreservat
    name: Naturreservat
    description: Naturreservat från Naturvårdsverket
    typ: naturvardsverket_wfs
    plugin: wfs
    url: https://geodata.naturvardsverket.se/naturvardsregistret/wfs
    layer: NVR.NATURRESERVAT
    enabled: true

  - id: nyckelbiotoper
    name: Nyckelbiotoper
    description: Nyckelbiotoper från Skogsstyrelsen
    typ: skogsstyrelsen_wfs
    plugin: wfs
    url: https://geodpags.skogsstyrelsen.se/geodataport/services/Nyckelbiotoper
    layer: Nyckelbiotop
    enabled: true

  - id: n2000
    name: Natura 2000
    description: Natura 2000-områden
    typ: naturvardsverket_wfs
    plugin: wfs
    url: https://geodata.naturvardsverket.se/naturvardsregistret/wfs
    layer: NVR.NATURA2000_SCI
    enabled: true

  - id: riksintressen_naturvard
    name: Riksintressen naturvård
    description: Riksintressen för naturvård
    typ: naturvardsverket_wfs
    plugin: wfs
    url: https://geodata.naturvardsverket.se/naturvardsregistret/wfs
    layer: NVR.RIKSINTRESSE_NATURVARD
    enabled: true

  - id: riksintressen_friluftsliv
    name: Riksintressen friluftsliv
    description: Riksintressen för friluftsliv
    typ: naturvardsverket_wfs
    plugin: wfs
    url: https://geodata.naturvardsverket.se/naturvardsregistret/wfs
    layer: NVR.RIKSINTRESSE_FRILUFTSLIV
    enabled: true

  - id: strandskydd
    name: Strandskydd
    description: Strandskyddsområden
    typ: naturvardsverket_wfs
    plugin: wfs
    url: https://geodata.naturvardsverket.se/naturvardsregistret/wfs
    layer: NVR.STRANDSKYDD
    enabled: false

  - id: biotopskydd
    name: Biotopskyddsområden
    description: Biotopskyddsområden
    typ: naturvardsverket_wfs
    plugin: wfs
    url: https://geodata.naturvardsverket.se/naturvardsregistret/wfs
    layer: NVR.BIOTOPSKYDD
    enabled: true

  - id: naturminnen
    name: Naturminnen
    description: Naturminnen
    typ: naturvardsverket_wfs
    plugin: wfs
    url: https://geodata.naturvardsverket.se/naturvardsregistret/wfs
    layer: NVR.NATURMINNE
    enabled: true

  - id: nationalparker
    name: Nationalparker
    description: Sveriges nationalparker
    typ: naturvardsverket_wfs
    plugin: wfs
    url: https://geodata.naturvardsverket.se/naturvardsregistret/wfs
    layer: NVR.NATIONALPARK
    enabled: true

  - id: vattenskyddsomraden
    name: Vattenskyddsområden
    description: Vattenskyddsområden
    typ: naturvardsverket_wfs
    plugin: wfs
    url: https://geodata.naturvardsverket.se/naturvardsregistret/wfs
    layer: NVR.VATTENSKYDDSOMRADE
    enabled: true

  - id: avverkningsanmalningar
    name: Avverkningsanmalningar
    description: Avverkningsanmälda områden från Skogsstyrelsen
    typ: skogsstyrelsen_gpkg
    plugin: zip_geopackage
    url: https://geodpags.skogsstyrelsen.se/geodataport/data/sksAvverkAnm_gpkg.zip
    enabled: true

  - id: sksbiotopskydd
    name: sksbiotopskydd
    description: Biotopskydd från Skogsstyrelsen
    typ: skogsstyrelsen_gpkg
    plugin: zip_geopackage
    url: https://geodpags.skogsstyrelsen.se/geodataport/data/sksBiotopskydd_gpkg.zip
    enabled: true
