datasets:
  - id: avverkningsanmalningar
    name: Avverkningsanmalningar
    description: Avverkningsanmälda områden från Skogsstyrelsen
    typ: skogsstyrelsen_gpkg
    plugin: zip_geopackage
    url: https://geodpags.skogsstyrelsen.se/geodataport/data/sksAvverkAnm_gpkg.zip
    enabled: true

  - id: sksbiotopskydd
    name: sksbiotopskydd
    description: Biotopskydd från Skogsstyrelsen
    typ: skogsstyrelsen_gpkg
    plugin: zip_geopackage
    url: https://geodpags.skogsstyrelsen.se/geodataport/data/sksBiotopskydd_gpkg.zip
    enabled: true

  - id: sksdodagranar
    name: sksDodaGranar
    description: sksDodaGranarAI_EjValideradPunkt från Skogsstyrelsen
    typ: skogsstyrelsen_gpkg
    plugin: zip_geopackage
    url: https://geodpags.skogsstyrelsen.se/geodataport/data/sksDodaGranarAI_EjValideradPunkt_gpkg.zip
    enabled: true

  - id: nationalparker
    name: Nationalparker
    description: Nationalparker från naturvardsverket, kod 101 i GISS
    typ: naturvardsverket_gpkg
    plugin: zip_shapefile
    url: https://geodata.naturvardsverket.se/nedladdning/naturvardsregistret/NP.zip
    enabled: true

  - id: naturreservat
    name: Naturreservat
    description: Naturreservat från naturvardsverket, kod 102 i GISS
    typ: naturvardsverket_gpkg
    plugin: zip_shapefile
    url: https://geodata.naturvardsverket.se/nedladdning/naturvardsregistret/NR.zip
    enabled: true
